<!DOCTYPE html>
<html>
<head>
	<title>GRAFO</title>
	<script type="text/javascript" src="js/vendors/angular.min.js"></script>
	<script type="text/javascript" src="js/vendors/cytoscape-spread.js"></script>
	<script type="text/javascript" src="js/vendors/cytoscape.min.js"></script>	
	<script type="text/javascript" src="js/grafo.js"></script>
	<script type="text/javascript" src="js/grafo.utils.js"></script>
 	<script type="text/javascript" src="js/grafo.instances.js"></script>
 	<script type="text/javascript" src="js/instance.read.js"></script>
 	<script type="text/javascript" src="js/grafo.controller.js"></script> 	
 	<style rel="stylesheet" type="text/css" href="grafo.css"></style>
</head>
<body data-ng-app="Module" data-ng-controller="GrafoController">
<div id="graph-container" style="height: 600px; width: 100%; border: 1px solid #E0E0E0">
	
</div>
<div data-ng-if="Grafo" class="matriz-adjascencia">
	<h3>Matriz</h3>
	<div data-ng-show="Grafo.ponderado">
		<input type="number" placeholder="Peso" data-ng-model="arcoPeso">
	</div>
	<table>
		<thead>
			<tr>
				<th></th>
				<th data-ng-repeat="v in Grafo.V track by $index">{{v}}</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="i in Grafo.a track by $index">
				<td>
					{{Grafo.V[$index]}}
				</td>
				<td data-ng-repeat="j in i track by $index" class="cliclavel">
					<span class="clickable" data-ng-click="(Grafo.a[$parent.$index][$index]) ? Grafo.removerAresta($parent.$index, $index) : Grafo.adicionarAresta($parent.$index, $index, arcoPeso) ">{{Grafo.a[$parent.$index][$index]}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div data-ng-if="Grafo" class="lista-adjascencia">
	<h3>Lista</h3>
	<table>
		<tbody>
			<tr data-ng-repeat="i in Grafo.A track by $index">
				<td>
					{{Grafo.V[$index]}}
				</td>
				<td data-ng-repeat="j in i track by $index">
					<small>{{Grafo.A[$parent.$index][$index].valor}}</small>
				</td>
			</tr>
		</tbody>
	</table>
</div>	 
<div data-ng-if="Grafo">
	<h3>{{busca.tipo}}</h3>
	{{busca.sequencia}}
</div>
<div class="acoes acoes-configuracao">
	<div data-ng-show="Grafo">
		<div>
			<input type="text" placeholder="Vertice nome" data-ng-model="verticeNome">
			<button class="btn" data-ng-click="Grafo.adicionarVertice(verticeNome); verticeNome = ''">Adicionar</button>
		</div>		
	</div>
	<div data-ng-hide="Grafo">	
		<div data-ng-init="direcionado = false">
			<strong>Direcionado:</strong>
	 		<input type="radio" name="direcionado" data-ng-value="true" data-ng-model="direcionado" />Sim
	 		<input type="radio" name="direcionado" data-ng-value ="false" data-ng-model="direcionado" />Nao
		</div>
		<div data-ng-init="ponderado = false">
			<strong>Ponderado:</strong>
	 		<input type="radio" name="ponderado" data-ng-value="true" data-ng-model="ponderado" />Sim
	 		<input type="radio" name="ponderado" data-ng-value="false" data-ng-model="ponderado" />Nao
		</div>
	</div>
	<button data-ng-hide="Grafo" data-ng-click="instanciarGrafo(direcionado, ponderado)">Novo Grafo</button>
	<button data-ng-show="Grafo" data-ng-click="Grafo = null">Remover Grafo</button>	
</div>

<div>
	<div>
		<input type="text" placeholder="Vertice nome" data-ng-model="verticeNome">
		<button data-ng-click="existeVertice(verticeNome); verticeNome = ''">Verificar se existe</button>
	</div>
	<div>
		<input type="number" placeholder="Origem" data-ng-model="origem">
		->
		<input type="number" placeholder="Destino" data-ng-model="destino">
		<button data-ng-click="existeAresta(origem, destino)">Verificar se existe aresta</button>
	</div>
</div>

<div class="acoes acoes-busca" data-ng-show="Grafo"> 	
	<div>
		<input type="number" placeholder="Origem" data-ng-model="buscaProfundidadeOrigem" />
		->
		<input type="number" placeholder="Destino" data-ng-model="buscaProfundidadeDestino" />
		<button class="btn" data-ng-click="buscarEmProfundidade(buscaProfundidadeOrigem, buscaProfundidadeDestino)">Profundidade</button>
	</div>
	<div>
		<input type="number" placeholder="Origem" data-ng-model="buscaLarguraOrigem" />
		->
		<input type="number" placeholder="Destino" data-ng-model="buscaLarguraDestino" />
		<button class="btn" data-ng-click="buscarEmLargura(buscaLarguraOrigem, buscaLarguraDestino)">Largura</button>
	</div>
	<div>
		<input type="number" placeholder="Origem" data-ng-model="dijkstraOrigem" />
		->
		<input type="number" placeholder="Destino" data-ng-model="dijkstraDestino" />
		<button class="btn" data-ng-click="dijkstra(dijkstraOrigem, dijkstraDestino)">Dijkstra</button>
	</div>	
</div> 
</body>
</html>